*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1595FF;
}
header{
    border-bottom: 3px solid #ffffff;
    height: 10vh;
    text-align: center;
}
header h1 {
    padding-top: 30px;
    color: #ffffff;
}