*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1595FF;
}
header{
    border-bottom: 3px solid #ffffff;
    height: 10vh;
    text-align: center;
}
header h1 {
    padding-top: 30px;
    color: #ffffff;
}
.student-adding-area{
    text-align: center;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    position: relative;
}
#add-name{
    width: 45vh;
    height: 5vh;
    border: none;
    padding: 0 10px;
    background-color: #ffffff;
    border-radius: 10px;
}
#add-btn {
    position: absolute;
    background:  #C3C3C3;
    top: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
    height: 5vh;
    width: 10vh;
    border-radius: 10px;
    border: none;
    color: black;
}
.student-list{
    border: 1px solid red;
    display: flex;
    justify-content: center;
}
.table-list{

}

/*https://www.youtube.com/watch?v=y9zCxC4rizI
https://www.youtube.com/watch?v=biI9OFH6Nmg */
